# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/crewix?schema=public"

# Auth.js
AUTH_SECRET="generate-a-secure-secret-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# Email (Resend)
RESEND_API_KEY=""
EMAIL_FROM="Crewix <onboarding@crewix.com>"
